@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700|Open+Sans:300,400,600,700,800|Quicksand:300,400,500,600,700|Raleway:100,200,300,400,500,600,700,800,900&display=swap');

@import url('https://fonts.googleapis.com/css?family=Questrial&display=swap');

@import url('https://fonts.googleapis.com/css?family=Sarala:400,700&display=swap');


body {

    font-family: 'Questrial', sans-serif;

    background: linear-gradient(358deg, #016699, #24b4a4, #1f8acc) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    -webkit-animation: bgGradientGenerator 30s ease infinite;
    -moz-animation: bgGradientGenerator 30s ease infinite;
    animation: bgGradientGenerator 30s ease infinite;

@-webkit-keyframes bgGradientGenerator {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes bgGradientGenerator {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes bgGradientGenerator {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

}

body h1 {

    font-family: 'Questrial', sans-serif;

    font-size: 2em;
    font-weight: 200;
    text-align: center;

    color: white;
    opacity: 0.7;

}

// TEMP STYLING

        #content {
            height: 100%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .container {
            display: none;
        }
        #keyboard {
            margin: 2px!important;
        }

        #Selector {
            margin: 0 auto;
        }
        .container p {
            text-align:center;
            color: white;
        }


// ------------------------------------------------------------
// Dropdown
// ------------------------------------------------------------


#dropdown-container {
    width: 20rem;
    margin: 0 auto;
    font-size: 1em;
}