@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700|Open+Sans:300,400,600,700,800|Quicksand:300,400,500,600,700|Raleway:100,200,300,400,500,600,700,800,900&display=swap');

@import url('https://fonts.googleapis.com/css?family=Questrial&display=swap');

@import url('https://fonts.googleapis.com/css?family=Sarala:400,700&display=swap');


// ---------------------------------------------------------------------------------



body {
    font-family: 'Questrial', sans-serif;

    background: linear-gradient(358deg, #016699, #24b4a4, #1f8acc) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    -webkit-animation: bgGradientGenerator 30s ease infinite;
    -moz-animation: bgGradientGenerator 30s ease infinite;
    animation: bgGradientGenerator 30s ease infinite;

    @-webkit-keyframes bgGradientGenerator {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }
    @-moz-keyframes bgGradientGenerator {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }
    @keyframes bgGradientGenerator {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }

}

.main-content-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;

    width: 100%;
    height: 100vh;
}


body h1 {
    margin-top: 40px;
    margin-bottom: 20px;
    margin-left: -50px;

    font-family: 'Questrial', sans-serif;
    font-size: 3em;
    font-weight: 200;
    text-align: center;

    color: white;

    opacity: 0.8;
     -webkit-animation: fadein 2s ease-in; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s ease-in; /* Firefox < 16 */
        -ms-animation: fadein 2s ease-in; /* Internet Explorer */
         -o-animation: fadein 2s ease-in; /* Opera < 12.1 */
            animation: fadein 2s ease-in;
}

#app {
    position: fixed;
    bottom: 10px;

    color: lightgray;
    
}




// ---------------------------------------------------------------------------------
// Dropdown
// ---------------------------------------------------------------------------------

#dropdown-container {
    width: 30rem;
    margin: 0 auto;
    font-family: 'Lato', sans-serif;

}

#station_id {
    width: 28rem;
    height: 2.2em;
    margin-bottom: 5px;
    padding: 10px 30px;

    color: #084769;
    background-color: #084769;

    font-size: 1.5em;
    font-weight: 700;
    text-align: center;
    border-color: #838f96;
    border-radius: 10px;

    opacity: 0.8;
}

#station-id:hover {
    border: 2px solid #16BCCC;
}

#station_id:focus {
    outline: none;
}

.select-css {


    box-sizing: border-box;

    box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
    border-radius: .5em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
      linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
}
.select-css::-ms-expand {
    display: none;
}
.select-css:hover {
    border-color: #888;
}

.select-css option {
    font-weight:normal;
}

.select-css:focus {
    outline: none;
}


#select-button {
    width: 10rem;
    margin: 1rem 8rem;
    padding: 10px 5px;

    color: white;
    background-color: #084769;


    font-size: 1.2em;
    font-weight: 600;
    text-align: center;

    border-color: #084769;
    border-radius: 10px;
    border-radius: 10px;

    opacity: 0.8;

}

input:hover, button:active {
    border: 2px solid white;
    transition: 0.4s;
}

input:visited, input:focus {
    outline: none;
}


#footer-logo {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    width: 7rem;
    height: auto;

    opacity: 0.8;

}


// ---------------------------------------------------------------------------------
// VISUALIZER
// ---------------------------------------------------------------------------------

#viz-canvas {
    width: 100%;
    height: 50%;
}


// ---------------------------------------------------------------------------------
// ANIMATIONS
// ---------------------------------------------------------------------------------


@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 0.8; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 0.8; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 0.8; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 0.8; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 0.8; }
}



// ---------------------------------------------------------------------------------
// MEDIA QUERIES
// ---------------------------------------------------------------------------------


@media only screen and (max-width: 710px) {
    #dropdown-container {


    }

    #station_id {
        width: 25rem;
        height: 2.2em;

        font-size: 1.3em;
        opacity: 0.8;
    }
}